@model IEnumerable<WebApplication2.Models.Book>
@{
    ViewBag.Title = "Index";
}


@foreach (WebApplication2.Models.Book b in Model)
{
    <div class="book">
        <img src="~/images/@b.PictureUrl" class="book_img">
        <h2 class="book_about">@b.Name</h2>
        <h3 class="book_about">@b.Author</h3>
        <h4>@b.Genre</h4>
        <p>@b.Description</p>
    </div>
}

