@model IEnumerable<WebApplication2.Models.Book>
@{
    ViewBag.Title = "Random Book";
}
<div class="container">
    <div>
        <h1 class="text-center">RandomBook</h1>
    </div>
<div class="genre text-center">
    <p class="lead">Жанр:</p>
       
       
        <select class="genre_drop ">
            <option>Любой</option>
            <option>Фантастика</option>
            <option>Детективы и боевики</option>
            <option>Современная проза</option>
            <option>Классическая проза</option>
            <option>Приключения</option>
            <option>Детские</option>
            <option>Документальные</option>
            <option>Любовные романы</option>
            <option>Поэзия и драматургия</option>
            <option>Ужасы и Мистика</option>
        </select>
        
</div>
    <div class="container text-center button">
        <button type="button" class="btn btn-warning btn-lg show_book ">Мне повезет</button>
    <div class="books">

    </div>
    </div>
    </div>
