@model IList<WebApplication2.Models.Table>
@{
    ViewBag.Title = "CheckResults";
}

    @foreach (var a in Model)
    {
            if (@a.Type==true)
            {
            <div style="color:#fff;">@a.Answer - <span style="color:#12834f; font-size:14px;">Правильный ответ</span></div>
            }
            else if (@a == ViewBag.Wrong)
            {
            <div style="color:#fff;">@a.Answer - <span style="color:#ff0000; font-size:14px;">Неверно</span></div>
            }
    }

